scapy==2.5.0
python-nmap==0.7.1
impacket==0.11.0
pwntools==4.11.0
pymetasploit3==1.0.3
paramiko==3.4.0
boofuzz==0.4.1
requests==2.31.0
beautifulsoup4==4.12.2
mechanize==0.4.9
selenium==4.15.0
ttkbootstrap==1.10.1
colorama==0.4.6
python-dotenv==1.0.0
pyyaml==6.0.1
cryptography==41.0.7
pycryptodome==3.19.0
fastapi==0.109.1
